{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="margin: 100px auto; width: 50%;">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Mensaje enviado con éxito</span>
            </h2>
            <p class="mb-3">
                Gracias por contactar con nosotros. Te responderemos lo antes posible.
            </p>
        </div>
    </div>
{% endblock content %}
