{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div style="float: right;" class="mt-5">
            <p style="color: white;">
                {% include "carro/widget.html" %}
            </p>
        </div>
        <div class="row">
            {% for producto in object_list %}
                <div class="col-md-3">
                    <div class="card m-5" style="width: 100%;">
                        {% if producto.imagen %}
                            <img src="{{ producto.imagen.url }}" class="card-img-top" alt=""/>
                        {% else %}
                            <img class="card-img-top" src="holder.js/100x180/" alt="">
                            <a href=""></a>
                        {% endif %}
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ producto.nombre }}</h4>
                            <p class="card-text">
                                {{ producto.precio }}€
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'carrito:agregar' producto.id %}"
                               class="btn btn-sm btn-success">Agregar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
